.orderToast {
    background-color: #07223e!important;
    color: white!important;
    text-align: right;
    border-radius: 5px!important;
    margin-bottom: 10px;
    box-shadow: 0 0 7px rgb(194, 194, 194)!important;
}

.orderConfirmation {
    float: left;
}

.orderTotal {
    float: right;
}

.orderToastBody {
    font-size: 14px;
    font-weight: bold;
}

.orderToastContainer {
    position:sticky;
    bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.orderAlertContainer {
    position:sticky;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}